<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'profile')}">
<body>

    <div th:replace="~{fragments/alert-dismissable :: alert (${error}, 'danger')}"></div>
    <div th:replace="~{fragments/alert-dismissable :: alert (${success}, 'success')}"></div>
    
    <div class="row">
        <div class="col-3">
            <div th:replace="~{fragments/profile-sidebar :: sidebar (${isOwner}, 'change-password')}"></div>
        </div>
        <div class="col-9">
            <div class="card border-dark">
                <div class="card-header"><h4>Change Password</h4></div>
                <div class="card-body text-dark">
                    <div class="card-text">
                        <form th:action="@{/profile/change-password}" method="post">
                            <div class="form-group">
                                <label>Old Password</label>
                                <input type="password" name="old_password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" name="new_password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Confirm New Password</label>
                                <input type="password" name="new_password2" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
