<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<div class="text-right">
    <div th:replace="~{fragments/back-button :: back ('/owners')}"></div>
</div>
<h2>Owner Information</h2>

<table class="table table-striped" th:object="${owner}">
    <tbody>
        <tr>
            <th>Name</th>
            <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
        </tr>
        <tr>
            <th>Address</th>
            <td th:text="*{address}"></td>
        </tr>
        <tr>
            <th>City</th>
            <td th:text="*{city}"></td>
        </tr>
        <tr>
            <th>Phone</th>
            <td th:text="*{phone}"></td>
        </tr>
    </tbody>
</table>

<div th:replace="~{fragments/pets-and-visits :: petsAndVisits (${owner}, false)}"></div>

</body>
</html>
