<html xmlns:th="http://www.thymeleaf.org">
<body>
<form>
    <th:block th:fragment="input (label, name, type, isRequired)" th:with="valid=${!#fields.hasErrors(name)}">
        <label th:utext="${label + (isRequired ? '<b>(*)</b>' : '')}">Label</label>
        <th:block th:switch="${type}">
            <input th:case="'text'" th:class="${'form-control' + (valid ? '' : ' is-invalid')}" type="text"
                   th:field="*{__${name}__}" th:placeholder="${label}">
            <input th:case="'date'" th:class="${'form-control' + (valid ? '' : ' is-invalid')}" type="text"
                   th:field="*{__${name}__}"
                   placeholder="YYYY-MM-DD" title="Enter a date in this format: YYYY-MM-DD"
                   pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))">
            <input th:case="'email'" th:class="${'form-control' + (valid ? '' : ' is-invalid')}" 
                   type="email" th:field="*{__${name}__}" th:placeholder="${label}">
            <input th:case="'password'" th:class="${'form-control' + (valid ? '' : ' is-invalid')}"
                   type="password" th:field="*{__${name}__}" th:placeholder="${label}">
        </th:block>
        <th:block th:if="${!valid}">
            <div class="invalid-feedback" th:errors="*{__${name}__}"></div>
        </th:block>
    </th:block>
</form>
</body>
</html>
