<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/resources/css/petclinic.css}"/>
</head>
<body>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Login Form</h3>
                    <form th:action="@{/login}" method="POST" class="form-signin">
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" id="email" 
                                   th:placeholder="email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password"
                                th:placeholder="Password" id="password">
                        </div>
                        <div align="center" th:if="${param.error}">
                            <p style="font-size: 20px; color: #FF1C19;">Email or Password invalid, please verify</p>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="/registration" class="btn btn-primary ml-3">Sign Up</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
